/*footer*/
.footer{
    padding: 0 !important;
    height: 472*@vw;
    background-color: #061d38;
    >.container-fluid:first-child{
        color: white;
        padding: 60*@vh 60*@vw 30*@vh;
        .col-md-4{
            .title{
                height: 60*@vh;
                line-height: 60*@vh;
                margin-bottom: 32*@vh;
                font-size: 16*@vh;
                font-weight: 500;
                img{
                    height: 60*@vh;
                }
            }
            .infos{
                font-size: 14*@vh;
                li{
                    margin-bottom: 16*@vh;
                    i{
                        width: 16*@vh;
                        text-align: center;
                        margin-right: 10*@vw;
                    }
                    a{
                        color: white;
                    }
                }
            }
            /*form{
                font-size: 0;
                >*{
                    width: 300px;
                    margin-bottom: 10px;
                    border: none;
                    border-radius: 2px;
                    padding: 12px;
                    font-size: 14px;
                }
                input{
                    height: 40px;
                    color: @fontColor;
                }
                textarea{
                    resize: none;
                    color: @fontColor;
                }
                .send{
                    background-color: @themeColor;
                    height: 40px;
                }
            }*/
        }
    }
    .copyright{
        height: 60*@vh;
        line-height: 60*@vh;
        text-align: center;
        color: white;
        border-top: 1*@vh solid rgba(255,255,255,0.2);
    }
}
